:root {
    --main-color: #072748;
    --title-color: #252525;
    --btn-hover: #0056b3;
    --p-color: #707070;
    --white: #faf3f8;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* -------------------------*/
/* Normalize styles
/* -------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--title-color);
}

h1 {
    font-size: 70px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 19px;
}
p {
    font-size: 14px;
    color: var(--p-color);
}

img {
    width: 100%;
}

ul,
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

/* -------------------------
    Style blocks
 -------------------------*/

.section-title {
    margin-bottom: 60px;
    text-align: center;
}

.section-title h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.section-title p {
    margin-top: 0;
    margin-bottom: 0;
}

.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.mt-5 {
    display: inline-block;
    margin-top: 45px;
}

.spand {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

/* -------------------------
    Elements
 -------------------------*/

.site-btn {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: px;
    cursor: pointer;
}

.site-btn2 {
    color: var(--main-color);
    text-align: center;
    min-width: 170px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 30px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.site-btn3 {
    color: white;
    text-align: center;
    min-width: 170px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.site-btn:hover,
.site-btn2:hover,
.site-btn3:hover {
    color: var(--btn-hover);
    border: 1px solid var(--btn-hover);
}

/* -------------------------
    header
 -------------------------*/

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-section a {
    color: white;
}

.header-top {
    border-bottom: 1px solid var(--white);
    
    margin-bottom: 40px;
}

.header-top .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-top-left,
.header-top-right {
    width: 50%;
}

.header-top-left {
    display: flex;
}

.header-top-left .info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

.header-top-left .info:nth-child(1){
    margin-right: 40px;
}

.header-top-left .info i{
    font-size: 20px;
    margin-right: 5px;
}

.header-top-right {
    display: flex;
    justify-content: flex-end;
}

.header-top-right .web-language a {
    padding: 0 20px;
    border-left: 1px solid white;
}

.header-top-right .web-language a i{
    margin-left: 5px;
    font-size: 20px;
}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 218px;
}

.hamburger-nav {
    display: none;
}

.navbar {
    margin: 8px 0;
    display: flex;
}

.navbar a {
    padding: 12px 5px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar a:hover {
    color: var(--main-color);
}

/* -------------------------
    Hero Section
 -------------------------*/

.hero-section {
    background-image: url(../img/hero-bg.png);
    height: 870px;
    margin-bottom: -54px;
}

.hero-text {
    text-align: center;
    padding-top: 320px;
    text-shadow: 2px 2px 3px black;
}

.item-1,
.item-2,
.item-3 {
    color: var(--white);
    width: 50%;
    font-size: 3.6em;
    font-weight: 400;
    margin: auto;
    text-transform: uppercase;
}

.hero-btn-container {
    display: flex;
    justify-content: center;
}

/* -------------------------
    Filter Search
 -------------------------*/

.container-fil {
    padding: 31px;
    background-color: #072748;
    border-radius: 3px;
}

.container-fil h6 {
    color: white;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

/* -------------------------
    Properties Section
 -------------------------*/

.container-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.propertie-item {
    position: relative;
    height: 270px;
}

.project-1 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.01) 0%,
        rgba(0,0,0,0.5) 100%),
    url("../img/oficinas/aurum.jpg");
}

.project-2 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.01) 0%,
        rgba(0,0,0,0.5) 100%),
    url("../img/oficinas/torre_civica.jpg");
}

.project-3 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.01) 0%,
        rgba(0,0,0,0.5) 100%),
    url("../img/oficinas/quadrat.jpg");
}

.project-4 {
    background-image: linear-gradient(
        180deg, 
        rgba(0,0,0,0.01) 0%,
        rgba(0,0,0,0.5) 100%),
    url("../img/oficinas/boca_villa_comercial.jpg");
}

.propertie-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
    position: absolute;
    bottom: 0;
}

.propertie-info h5 {
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
}

.propertie-info p {
    color: white;
    margin: 0;
}

.propertie-info p i {
    color: var(--main-color);
    margin-right: 5px;
}

.propertie-info .price div {
    background-color: var(--main-color);
    color: white;
    padding: 12px;
    text-align: center;
    border-radius: 2px;
}

.container-vermas {
    display: flex;
    justify-content: center;
}

/* -------------------------
    Service Section
 -------------------------*/

.services-section {
    background-image: url(../img/services-bg.jpg);
}

.services-section .section-title h3 {
    color: white;
}

.container-services {
    display: flex;
}

.service-item {
    display: grid;
    grid-template-columns: auto 390px;
    margin-left: 90px;
}

.service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 24px;
}

.service-icon i {
    color: white;
    font-size: 35px;
}

.service-text h5{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.service-text p {
    color: #cccccc;
    margin: 0;
    text-align: justify;
}

/* -------------------------
    Location Section
 -------------------------*/

.location-section {
    margin-top: 45px;
    padding-bottom: 100px;
}

.contact-info {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.contact-info p {
    color: white;
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}

.contact-info p span a {
    color: white;   
}

.contact-info p span:nth-child(1) {
    margin-right: 80px;
}

/* -------------------------
    Footer Section
 -------------------------*/

.footer-section {
    background-image: url(../img/footer-bg.jpg);
    padding: 125px 0 25px 0;
}

.footer-text-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-widget {
    text-align: center;
    width: 33.33%;
    padding: 0 15px;
}

.footer-widget p,
.footer-widget a {
    color: #cccccc;
}

.fw-title {
    color: white;
    font-weight: 400;
    margin-bottom: 35px;
    padding-top: 10px;
}

.footer-widget img {
    margin-bottom: 30px;
}

.footer-widget p {
    line-height: 20px;
    margin: 0;
    margin-bottom: 16px;
}

.footer-widget p i {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.newsletter h5,
.newsletter p{
    text-align: left;
}

.footer-newsletter-form {
    position: relative;
}

.footer-newsletter-form input {
    position: relative;
    padding: 10px 50px 10px 18px;
    width: 100%;
}

.footer-newsletter-form button {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
}

.footer-newsletter-form button i {
    color: white;
    font-size: 18px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 65px;
    padding-top: 30px;
    border-top: 1px solid #324a4e;
}

.footer-nav {
    display: flex;
    justify-content: right;
}

.footer-nav ul {
    display: flex;
}
.footer-nav ul li a {
    color: #cccccc;
    display: flex;
    font-size: 12px;
    margin-left: 10px;
}

.footer-nav ul li a:hover {
    color: white;
}

.footer-copyright .copyright-text p{
    margin-top: 0;
    font-size: 12px;
}