.main-container {
    background-color: var(--secondary-color);
    height: 160vh;
}

.form-retiro {
    background-color: var(--white);
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 2px 2px 30px 15px rgba(0, 0, 0, 0.274);
}


.container {
    max-width: 600px;
    padding: 0 60px;
}